.box {
  padding: 0.75em;
  border-radius : 0.5em;
  border : 1px solid #ddd;
  height: auto;
  margin-bottom: 1em;
}

.warning {
  color: orange;
  font-weight: bold;
}

.danger {
  color: crimson;
  font-weight: bold;
<<<<<<< HEAD
<<<<<<< HEAD

=======
>>>>>>> 53ff99562712614c7dbfce70247e4b18dabc4acf
=======
>>>>>>> 849c2b80ead1dcca78082d58a4bc9a624142e3ba
}

.total {
  font-weight: bold;
  font-size: 2em;
}
